@using Laboratorium_3.Models.ReservationModels;
@model Reservation

<h1>Edytuj rezerwację</h1>

<form asp-controller="Reservation" asp-action="Update" method="post">
    <input asp-for="Id" type="hidden" />
    <div class="mb-3">
        <label asp-for="Data">Data</label>
        <input class="form-control" asp-for="Data" />
        <span asp-validation-for="Data"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Miasto">Miasto</label>
        <input class="form-control" asp-for="Miasto" />
        <span class="text-danger" asp-validation-for="Miasto"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Adress">Adres</label>
        <input class="form-control" asp-for="Adress" />
        <span class="text-danger" asp-validation-for="Adress"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PokojNumer"></label>
        <input class="form-control" asp-for="PokojNumer" />
        <span class="text-danger" asp-validation-for="PokojNumer"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PokojNazwa"></label>
        <input class="form-control" asp-for="PokojNazwa" />
        <span class="text-danger" asp-validation-for="PokojNazwa"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PokojPietro"></label>
        <input class="form-control" asp-for="PokojPietro" />
        <span class="text-danger" asp-validation-for="PokojPietro"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PokojRozmiar"></label>
        <input class="form-control" asp-for="PokojRozmiar" />
        <span class="text-danger" asp-validation-for="PokojRozmiar"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ContactId"></label>
        <select class="form-control" asp-for="ContactId" asp-items="@Model.ContactList"></select>
        <a class="btn btn-primary" asp-controller="Contact" asp-action="Create">Utworz Contact</a>
    </div>
    <div class="mb-3">
        <label asp-for="Cena">Cena</label>
        <input class="form-control" asp-for="Cena" />
        <span class="text-danger" asp-validation-for="Cena"></span>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">
            Zapisz
        </button>
    </div>
    <div class="mb-3">
        <input type="hidden" class="form-control" asp-for="ContactName" id="ContactName" />
    </div>
</form>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#ContactId').change(function () {
                var selectedContactId = $(this).val();

                var selectedContact = @Html.Raw(Json.Serialize(Model.ContactList))
                    .find(contact => contact.value == selectedContactId);

                $('#ContactName').val(selectedContact.text);
            });
        });
    </script>
}